[report]
exclude_lines =
    # Have to re-enable to standard pragma
    pragma: no cover

    # Ignore stuff that isn't typically used.
    def __repr__

    # Ignore the non-runnable code
    if __name__ == .__main__.:

omit =
    */tests/*